.get-started {
  width: 100%;
  background-repeat: repeat-x;
  background-image: url("https://www.skybrary.org/sites/all/themes/custom/at_rrkidz/images/get-started/background.jpg");
  background-color: $white;
  @media (min-width: 980px) {
    background-size: 162.5rem 25rem;
  }
  @media (max-width: 979px) {
    background-size: 56.25rem 22rem;
  }
  .title {
    h1 {
      color: $jaffa;
      font-size: 3.125rem;
    }
  }
  .form {
    label {
      font-weight: bold;
    }
  }
  .list {
    li {
      color: $oslo-gray;
    }
  }
  .plan {
    img {
      opacity: 0.4;
    }
    :hover {
      opacity: 1;
    }
    .selected {
      opacity: 1;
    }
  }
  .payment-sub-info {
    color: $silver-chalice;
    font-size: 0.875rem;
  }
  .option-notifier {
    color: $scorpion;
    font-size: 1.5rem;
    font-weight: bold;
    .plan-purple {
      color: $deluge;
    }
    .edit-plan-link {
      color: $oslo-gray;
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }
  .separator {
    border: 1px solid #e8ecf0;
  }
  .info {
    color: $oslo-gray;
  }
  .row-info {
    .info {
      font-size: 21px;
    }
    .info-total {
      font-weight: bold;
      color: #444;
    }
  }
  .info-cvv {
    color: $glacier;
  }
  .form-item-agreeterms {
    font-weight: bold;
    color: $oslo-gray;
  }
}
